.container {
  padding: 10px;
  margin: 10px;
}

.back {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #000000;
  display: flex;
  align-items: right;
  justify-content: flex-end;
}


.backContainer {
  display: inline-flex;
  color: #000000;
  justify-content: flex-end;
  width: 824px;
}

.icon {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #000000;
  display: flex;
  align-items: flex-end;
}

.pageName {
  width: 411px;
  height: 52px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #000000;
}

.gorizontal_line {
  position: relative;
  width: 824px;
  height: 1px;
  background: #A7A7A7;
  left: 30px;
}

.close {
  position: relative;
  cursor: pointer;
  text-align: right;
  left: 35%;
}

.img {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  left: 30px
}

p {
  position: relative;
  width: 318px;
  height: 46px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #3A3A3A;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.through {
  text-decoration-line: line-through;
  color: #8B8B8B;
}

.price {
  width: 82px;
  height: 52px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #000000;
}

.productName {
  display: flex;
  width: 318px;
  height: 46px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #3A3A3A;
justify-content: center;
align-items: center;

}
.ToggleButton {
  color: #000000;
  width: 50px;
  height: 25px;
  color: #000000;
  border-color: #000000;
}

.ToggleButtonGroup {
  color: #000000;
  border-color: #000000;
}

.arrow {
  position: relative;
  top: -7px;
}

.productDetails {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.imgDescription {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
}