.catalog_container {
    position: relative;
    width: 1440px;
    margin-top: 50%;
}

.catalog {
    position: relative;
    width: 170px;
    left: 40px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;

    letter-spacing: 0.03em;

    color: #000000;
    margin: 0;
}

.btn_categories {
    position: relative;
    width: 120px;
    height: 30.97px;
    left: 250px;
    top: -35px;
    margin: 0;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 130%;
    color: #8B8B8B;
    background-color: white;

    text-align: center;
    letter-spacing: 0.03em;

    box-sizing: border-box;
    border: 2px solid #8B8B8B;
}


.grid_cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid_cont img {
    padding-left: 3%;
    padding-right: 3%;
    width: 318px;
    height: 350px;
}

.content_1 {
    position: relative;
    width: 87px;
    left: 60px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;

    letter-spacing: 0.03em;
    color: #000000;

}

.content_2 {
    position: relative;
    width: 258px;
    left: -10px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;

    text-align: center;
    letter-spacing: 0.03em;

    color: #000000;
}

.content_3 {
    position: relative;
    width: 176px;
    left: 50px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;

    letter-spacing: 0.03em;
    color: #000000;
}

.content_4 {
    position: relative;
    width: 192px;
    left: 50px;

    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;

    letter-spacing: 0.03em;
    color: #000000;
}