.background {
    display: grid;
    grid-template-columns:  repeat(3, 30%);
    grid-template-rows: auto;
    align-items: center;
    gap: 10px;
    width: 100%;
    background: #A1E2EB;
    grid-template-areas:
    "discount . flowers"
    "newSeason . flowers"
    "btn1 . flowers"
}

.discount {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 130%;
    color: #FFFFFF;
    grid-area: discount;
}

.newSeason {
    padding-top: 60px;
    padding-left: 40px;
    width: 756px;
    height: 82px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 63px;
    line-height: 130%;
    color: #FFFFFF;
    grid-area: newSeason;
}

.flowers {
    grid-area: flowers;
}

.btn1 {
    grid-area: btn1;
    align-items: flex-end;
}

.btn {
    cursor: pointer;
    display: block;
    padding: 1em 3em;
    margin: 25%;
    background: #FFFFFF;
    border: none;
    border-radius: 10%;
    color: #2D2D2D;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
    text-align: center;

}
