.title {
    width: 268px;
    height: 52px;
    left: 31px;
    top: 170px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: #000000;
    padding: 30px;
}

.tools_container {
    position: relative;
    display: flex;
    flex-direction: row;
    text-align: left;
    gap: 20px;
    padding: 30px;
}

.price {
    width: 57px;
    height: 26.63px;
    left: 30px;
    top: 310.17px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: #000000;
}

.from {
    box-sizing: border-box;
    width: 103px;
    height: 42px;
    left: 102px;
    top: 303px;
    border: 1px solid #000000;
    border-radius: 7px;
    padding: 10px;
}

.to {
    box-sizing: border-box;
    width: 103px;
    height: 42px;
    left: 220px;
    top: 303px;
    border: 1px solid #000000;
    border-radius: 7px;
    padding: 10px;
}

.Items {
    width: 191px;
    height: 26px;
    left: 363px;
    top: 311px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: #000000;
}

.sorted {

    width: 72px;
    height: 26px;
    left: 724px;
    top: 311px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: #000000;
}

.inputForDiscounted {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    left: 593px;
    top: 304px;
    border: 1px solid #000000;
    border-radius: 7px;
}

.default {
    box-sizing: border-box;
    width: 219px;
    height: 40px;
    left: 838px;
    top: 304px;
    border: 1px solid #000000;
    border-radius: 7px;
    padding: 10px;
}

.productContainer {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-gap: 20px;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;

}

.product img {
    width: 319px;
    height: 276px;
}

.pageName {
    width: 411px;
    height: 52px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: #000000;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
}

@media (max-width: 768px) {
    .productContainer {
        grid-template-columns: repeat(2, 50%);
    }
}

@media (max-width: 480px) {
    .productContainer {
        grid-template-columns: 100%;
    }
}