footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    box-sizing: border-box;
    margin-top: 10%;
}

.container_1 {
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 40px;

}


.container_2 {

    margin-top: 10px;
    padding-top: 10px;
    padding-left: 20px;

}

.contact {
    width: 167px;
    left: 32px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 130%;

    text-decoration-line: underline;

    color: #000000;

}

.phone {
    width: 649px;
    left: 33px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 130%;

    color: #000000;
}

.address {
    width: 171px;
    height: 52px;
    left: 844px;
    top: 48px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 130%;
 
    color: #000000;
}

.city {
    width: 564px;
    height: 104px;
    left: 844px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 130%;

    text-decoration-line: underline;

    color: #000000;
    
}

.city a{
    text-decoration: underline;
}

.regime {
    width: 143px;
    height: 23px;
    left: 844px;
    top: 249px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    
    color: #000000;
}

.city a{
    text-decoration: underline;
}

.workHours {
    width: 180px;
    height: 31px;
    left: 844px;
    top: 274px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 130%;


    color: #000000;

}

.city a{
    text-decoration: underline;
}

a {
    display: inline-block;
    margin-right: 10px;
    color: #333;
    left: 4%;
    right: 4%;
}

p {
    margin: 0;
    font-size: 14px;
}

.icons_container {
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
}



.icon_names {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 83px;
    height: 19px;
    left: 146px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 130%;

    color: #000000;
}

.icon {
    font-size: 46px;
}